
form {
    margin: 20px;
    padding: 10px;

}

input, textarea
{
    border-radius: 6px;
    /* color: #000; */
}

input[type="submit"] {
    width: 10%;
    padding: 12px;
    background: blue;
    border: 2px solid rgb(5, 6, 95);
    margin: 24px 2%;
    margin-bottom: 12px;
}

body {
    background: rgb(11, 3, 90);
    color: #fff;
    font-family: sans-serif;
}
