<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academia - Contacto.</title>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <!-- <link rel="stylesheet" href="styles.css"> -->
</head>
<body>
    <h1>Contáctenos</h1>
    <form action="/contactar/" method="POST">{% csrf_token %}
        <p>Asunto: <input type="text" name="txtAsunto" id="txtAsunto"> </p>
        <p>Email: <input type="email" name="txtEmail" id="txtEmail"> </p>
        <p>
            Mensaje: 
            <textarea name="txtMensaje" id="" cols="30" rows="5" style="resize: none;"></textarea>
        </p>
        <input type="submit" value="Enviar" id="btnEnviar">
    </form>
    
</body>
</html>